@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: "Manrope", sans-serif;
}

:root {
    --black-color: #171A1FFF;
    --grey-color: #F3F4F6FF;
    --black-btn-color: #202127FF;
}

.main-btn {
    background-color: #F7F7F8FF;
    font-family: "Source Sans 3", sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.375rem 1rem;
    transition: all 0.3s ease-out;
}

.main-btn:hover, 
.main-btn:active, 
.main-btn:focus {
    background-color: #F7F7F8FF!important;
    opacity: 0.9;
    color: black!important;
}

.sec-btn {
    background-color: var(--black-btn-color);
    font-family: "Source Sans 3", sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.375rem 1rem;
    transition: all 0.3s ease-out;
}

.sec-btn:hover, 
.sec-btn:active, 
.sec-btn:focus {
    background-color: var(--black-btn-color);
    opacity: 0.9;
    color: rgb(255, 255, 255)!important;
}