.hero-section {
    background: #f2f2f2;
}

a {
    color: var(--black-color);
}

.about-info .card {
    min-height: 333px;
}

form label{
    color: gray;
}

form input {
    border: gray solid 1px;
    border-radius: 5px;
}

form textarea{
    border: gray solid 1px;
    border-radius: 5px;
    height: 100px;
}

.ceo-message{
    background-color: rgb(219, 219, 219);
}