.card {
    border: solid 1px var(--grey-color);
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
}

.box img {
    border-radius: 3px !important;
}

.box .card-body .item-name {
    font-size: 20px;
}

.box .card-body .card-text {
    font-size: 14px;
    line-height: 20px;
    font-family: "Source Sans 3", sans-serif;
}