.navbar-toggler i {
    color: white;
}

.navbar-toggler {
    border: var(--grey-color) 1px solid;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] {
    border: var(--black-color) 1px solid;
}

.navbar-nav .nav-item a {
    color: var(--black-color) !important;
    font-weight: 400;
    transition: all 0.3s ease;
}

.navbar-nav .nav-item a.active {
    font-weight: 700;
}

.navbar-nav .nav-item a:hover {
    opacity: 0.8;
}

nav .profile-img {
    max-width: 2.5rem;
}