@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: "Manrope", sans-serif;
}

:root {
    --black-color: #171A1FFF;
    --grey-color: #F3F4F6FF;
    --black-btn-color: #202127FF;
}

.main-btn {
    background-color: #F7F7F8FF;
    font-family: "Source Sans 3", sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.375rem 1rem;
    transition: all 0.3s ease-out;
}

.main-btn:hover {
    opacity: 0.9;
}

.sec-btn {
    background-color: var(--black-btn-color);
    font-family: "Source Sans 3", sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.375rem 1rem;
    transition: all 0.3s ease-out;
}

.sec-btn:hover {
    opacity: 0.9;
}

/* navbar */
.navbar-toggler i {
    color: white;
}

.navbar-toggler {
    border: var(--grey-color) 1px solid;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] {
    border: var(--black-color) 1px solid;
}

.navbar-nav .nav-item a {
    color: var(--black-color) !important;
    font-weight: 400;
    transition: all 0.3s ease;
}

.navbar-nav .nav-item a.active {
    font-weight: 700;
}

.navbar-nav .nav-item a:hover {
    opacity: 0.8;
}

nav .profile-img {
    max-width: 2.5rem;
}

/*Home*/
.landing {
    background-image: url("/images/home/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.landing {
    min-height: calc(100vh - 56px);
}

.landing .filter {
    height: 100%;
    width: 100%;
    background-color: #2f30306b;
    top: 0;
    left: 0;
}

.landing h1 {
    font-family: "Source Sans 3", sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
    max-width: 350px;
    color: #F3F4F6FF;
    text-shadow: var(--primary-color) 1px 1px;
}

.landing p {
    color: #F3F4F6FF;
    max-width: 500px;
}

.landing .btn {
    font-size: medium;
    transition: all 0.3s ease-in-out;
}

.home-card {
    border-radius: 4px;
    border-color: #DEE1E6FF;
    transition: all 0.3s ease-in-out;
}

.home-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
}

.home-card i {
    font-size: 3.5rem;
}

.home-card a {
    color: var(--black-color) !important;
    transition: all 0.3s ease;
}

.home-card a:hover {
    opacity: 0.6;
}

/* footer */
footer a {
    color: var(--black-color);
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
    transition: all 0.3s ease;
}

footer a:hover {
    opacity: 0.8;
}

/* header */
.app-header {
    width: 100%;
    padding: 1rem;
    background-color: var(--grey-color);
    border-bottom: 1px solid #e0e0e0;
}

.app-header-logo {
    font-weight: bold;
    font-size: 1.5rem;
}

/* cafe card*/
.cafe-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cafe-card-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.cafe-card-title {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-weight: 600;
}

/*Booking history*/
.booking-history .nav-item .active {
    font-weight: 600;
}

/* from src/components/CafeCard.css */
.card {
    border: solid 1px var(--grey-color);
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
}

.box img {
    border-radius: 3px !important;
}

.box .card-body .item-name {
    font-size: 20px;
}

.box .card-body .card-text {
    font-size: 14px;
    line-height: 20px;
    font-family: "Source Sans 3", sans-serif;
}

/* about page */
.about-page .hero-section {
    background: #f2f2f2;
}

.about-page a {
    color: var(--black-color);
}

.about-page .about-info .card {
    min-height: 333px;
}

.about-page form label {
    color: gray;
}

.about-page .ceo-message {
    background-color: rgb(219, 219, 219);
}

.active-category{
    background-color: black !important;
    color: #fff !important;
}

@media screen and (max-width : 991px) {
    .chart-style {
        width: 100% !important;
    }
}

@media screen and (min-width : 992px) {
    .chart-style {
        width: 50% !important;
    }
}