.card {
    border-radius: 4px;
    border-color: #DEE1E6FF;
    min-height: 350px;
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)!important;
}

.main-btn {
    font-family: "Source Sans 3", sans-serif;
}

.loading-icon {
    padding: 1.1rem;
    border: black dashed 5px;
    opacity: 0.5;
    border-radius: 50%;
}

.coming-soon {
    background-color: #F3F4F6FF;
    font-family: "Source Sans 3", sans-serif;
}

footer {
    margin-top: auto;
    margin-top: 3rem;
}