.sub-title {
    border-bottom: solid var(--grey-color) 1px;
}

.card {
    border: solid 1px var(--grey-color);
}

.box img {
    border-radius: 3px!important;
}

.box .card-body .item-name {
    font-size: 20px;
}

.box .card-body .card-text {
    font-size: 14px;
    line-height: 20px;
    font-family: "Source Sans 3", sans-serif;
}