 body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    flex-grow: 1;
}

.gallery-container {
    max-width: 1000px;
    margin: auto;
    padding: 2rem 1rem;
}

.carousel-item img {
    border-radius: 8px;
    height: 450px;
    object-fit: cover;
}

.carousel-caption {
    position: static;
    text-align: left;
    padding: 1rem 0;
    color: #333;
}

/* Thumbnails layout */
.thumbnail-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    /* controls spacing between thumbs */
}

.thumbnail-img {
    max-width: 200px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
    display: block;
}

.thumbnail-img.active {
    border-color: var(--black-color);
}