.navbar-toggler i {
    color: white;
}

.navbar-toggler {
    border: var(--grey-color) 1px solid;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] {
    border: var(--black-color) 1px solid;
}

.navbar-nav .nav-item a {
    color: var(--black-color)!important;
    font-weight: 400;
}

.navbar-nav .nav-item a.active {
    font-weight: 700;
}

.navbar-nav .nav-item a:hover {
    opacity: 0.8;
}

nav .profile-img {
    max-width: 2.5rem;
}
footer a {
    color: var(--black-color);
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1rem;
}

footer a:hover {
    opacity: 0.8;
}
.user-icon {
  width: 30px !important;
  height: 30px !important;
  background-color: gray;
}
.hero-section {
  height: 900px;
  background-image: url("../images/hero-bg.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* border-radius: 1.5rem; */
}
.overlay {
  background-color: rgba(0, 0, 0, 0.45);
  padding: 4rem;
  /* border-radius: 1.5rem; */
}
.overlay p{
  line-height: 1 !important;
}
.hero-content{
  width: 35%;
}
.hero-text p {
  margin: 0;
}
.icons svg{
  width: 50px;
  height: 50px;
  stroke-width: 2.25;
}