:root {
    --black-color: #171A1FFF;
    --grey-color: #F3F4F6FF;
    --black-btn-color: #202127FF;
}

* {
    font-family: "Manrope", sans-serif;
}

.main-btn {
    background-color: #F7F7F8FF;
    font-family: "Source Sans 3", sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.375rem 1rem;
    transition: all 0.3s ease-out;
}

.main-btn:hover, 
.main-btn:active, 
.main-btn:focus {
    background-color: #F7F7F8FF!important;
    opacity: 0.9;
    color: black!important;
}

.sec-btn {
    background-color: var(--black-btn-color);
    font-family: "Source Sans 3", sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.375rem 1rem;
    transition: all 0.3s ease-out;
}

.sec-btn:hover, 
.sec-btn:active, 
.sec-btn:focus {
    background-color: var(--black-btn-color);
    opacity: 0.9;
    color: rgb(255, 255, 255)!important;
}

.navbar-toggler i {
    color: white;
}

.navbar-toggler {
    border: var(--grey-color) 1px solid;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] {
    border: var(--black-color) 1px solid;
}

.navbar-nav .nav-item a {
    color: var(--black-color)!important;
    font-weight: 400;
}

.navbar-nav .nav-item a.active {
    font-weight: 700;
}

.navbar-nav .nav-item a:hover {
    opacity: 0.8;
}

nav .profile-img {
    max-width: 2.5rem;
}

footer a {
    color: var(--black-color);
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1rem;
    transition: all 0.3s ease;
}

footer a:hover {
    opacity: 0.8;
}